# Secrets and configs
backend/firebase-credentials.json
*-adminsdk-*.json
.env
.env*.local
*.log
cookies.txt
cookies.txt.txt
cookies_new.txt


# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.venv/
venv/
backend/cache/
backend/logs/

# Node / Frontend
**/node_modules/
frontend/dist/
frontend/.vite/
.eslintcache

# OS files
.DS_Store
Thumbs.db

bulk_index_progress.json
